<!--<h4 class="mt-4 text-center border-bottom pb-3 border-dark border-2">Browse By</h4>-->
<div class="mt-4 mb-5">
  <a routerLink="/browse/title" class="mt-4 mb-4">
    <figure class="mx-auto text-center">
      <img class="figure-img img-fluid custom-sidebar-img"
           src="/assets/otcloud/images/browse/list-solid.svg" alt=""/>
      <figcaption class="figure-caption text-center font-weight-bold">
        {{ "customSidebar.title" | translate }}
      </figcaption>
    </figure>
  </a>
</div>

<div class="mt-4 mb-5">
  <a routerLink="/browse/author">
    <figure class="mx-auto text-center">
      <img class="figure-img img-fluid custom-sidebar-img" src="/assets/otcloud/images/browse/circle-user-regular.svg"
           alt=""/>
      <figcaption class="figure-caption text-center font-weight-bold">
        {{ "customSidebar.author" | translate }}
      </figcaption>
    </figure>
  </a>
</div>


<div class="mt-4 mb-5">
  <a routerLink="/browse/dateissued" class="mt-4 mb-4">
    <figure class="mx-auto text-center">
      <img class="figure-img img-fluid custom-sidebar-img"
           src="/assets/otcloud/images/browse/calendar-days-solid.svg" alt=""/>
      <figcaption class="figure-caption text-center font-weight-bold">
        {{ "customSidebar.dateIssued" | translate }}
      </figcaption>
    </figure>
  </a>
</div>

<div class="mt-4 mb-5">
  <a routerLink="/browse/country" class="mt-4 mb-4">
    <figure class="mx-auto text-center">
      <img class="figure-img img-fluid custom-sidebar-img"
           src="/assets/otcloud/images/browse/map-location-dot-solid.svg" alt=""/>
      <figcaption class="figure-caption text-center font-weight-bold">
        {{ "customSidebar.country" | translate }}
      </figcaption>
    </figure>
  </a>
</div>

<div class="mt-4 mb-5">
  <a routerLink="/browse/subject" class="mt-4 mb-4">
    <figure class="mx-auto text-center">
      <img class="figure-img img-fluid custom-sidebar-img" src="/assets/otcloud/images/browse/hashtag-solid.svg" alt=""/>
      <figcaption class="figure-caption text-center font-weight-bold">
        {{ "customSidebar.subject" | translate }}
      </figcaption>
    </figure>
  </a>
</div>


