<footer class="text-lg-start text-white">
  <div class="bg-au-dark-green py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="footer-pad">

            <h4> Contact Info</h4>
            <p>
              African Union Headquarters <br>
              P. O. Box 3243 <br>
              Roosevelt Street W21K19 <br>
              Addis Ababa, Ethiopia <br>
              Email: SituationRoom&#64;africa-union.org
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <h4> {{ "footer.head.follow" | translate }}</h4>
            <div>
              <h2 class="social-media-icons">
                <a class="mx-1" title="Twitter" href="https://x.com/AUC_PAPS" target="_blank">
                  <i class="fab fa-x-twitter fa-sm text-au-light-green"></i>
                  <span class="sr-only">Twitter</span>
                </a>
                <a class="mx-1" target="_blank" title="Facebook"
                  href="http://www.facebook.com/pages/Peace-Security-Dept-of-the-African-Union-Commission/302661349775297">
                  <em class="fab fa-facebook fa-sm text-au-light-green"></em>
                  <span class="sr-only">Facebook</span></a>
                <a class="mx-1" title="Flickr" href="https://www.flickr.com/photos/au_psd/albums" target="_blank">
                  <em class="fab fa-flickr fa-sm text-au-light-green"></em>
                  <span class="sr-only">Flickr</span>
                </a>
                <a class="mx-1" title="YouTube" href="https://www.youtube.com/user/africaforpeace1" target="_blank">
                  <em class="fab fa-youtube fa-sm text-au-light-green"></em>
                  <span class="sr-only">YouTube</span>
                </a>
              </h2>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <h4> {{ "footer.head.help" | translate }} </h4>
            <ul class="list-unstyled">
              <li> <a routerLink="/info/feedback"> {{ "footer.link.feedBack" | translate}} </a> </li>
              <li> <a routerLink="/info/privacy">{{ "footer.link.privacy" | translate }}</a></li>
              <li> <a routerLink="/info/end-user-agreement">{{ "footer.link.agreement" | translate }}</a></li>
              <li>
                <button class="btn btn-link text-white py-0 pl-0" type="button" (click)="showCookieSettings">
                  {{ 'footer.link.cookies' | translate}}
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <h4> Quick Links </h4>
          <ul class="list-unstyled">
            <li> <a href="https://www.peaceau.org/en/" target="_blank"> PAPS </a> </li>
            <li> <a href="https://au.int/en" target="_blank">African Union </a> </li>
            <li> <a href="https://au.int/en/agenda2063" target="_blank">Agenda 2063 </a> </li>
            <li> <a href="https://au.int/en/member_states/countryprofiles2" target="_blank">Member States </a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-au-red">
    <div class="container">
      <div class="border-top-0">
        <div class="copy">
          <p class="py-4 text-center">
            Copyright
            {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }} -
            All Rights Reserved by the African Union Department of Political Affairs, Peace and Security </p>
        </div>
      </div>
    </div>
  </div>
</footer>