<ng-container *ngVar="(bitstreams$ | async) as bitstreams">
  <ds-metadata-field-wrapper *ngIf="bitstreams?.length > 0">
      <ul class="file-section list-group">
        <li *ngFor="let file of bitstreams; let last=last;"
            class="list-group-item d-flex justify-content-between align-items-center hover-grey">
          <ds-file-download-link [bitstream]="file" [item]="item">
<!--          <span *ngIf="primaryBitsreamId === file.id" class="badge badge-primary">-->
<!--            {{ 'item.page.bitstreams.primary' | translate }}-->
<!--          </span>-->
            {{ getFileDescription(file) }}
            <span *ngIf="!last" innerHTML="{{separator}}"></span>
          </ds-file-download-link>
        </li>
      </ul>

      <ds-loading *ngIf="isLoading" message="{{'loading.default' | translate}}" [showMessage]="false"></ds-loading>
      <div *ngIf="!isLastPage" class="mt-1" id="view-more">
        <button class="bitstream-view-more btn btn-outline-secondary btn-sm" (click)="getNextPage()">{{'item.page.bitstreams.view-more' | translate}}</button>
      </div>
      <div *ngIf="isLastPage && currentPage !== 1" class="mt-1" id="collapse">
        <button class="bitstream-collapse btn btn-outline-secondary btn-sm" (click)="currentPage = undefined; getNextPage();">{{'item.page.bitstreams.collapse' | translate}}</button>
      </div>
  </ds-metadata-field-wrapper>
</ng-container>

